<div class="menu">
    <div class="mnubtns_outer">
        <button class = "menubtns_inner" id = "filebtn">File</button>
    </div>
    <div class="mnubtns">
        <button class = "menubtns_inner" id = >Hi</button>
    </div>
    <div class="mnubtns">
        <button class = "menubtns_inner">Hi</button>
    </div>
    <div class="mnubtns">
        <button class = "menubtns_inner">Hi</button>
    </div>
    <div class="mnubtns">
        <button class = "menubtns_inner">Hi</button>
    </div>
    <div class="mnubtns">
        <button class = "menubtns_inner">Hi</button>
    </div>
</div>
